<!DOCTYPE html>
<html lang="en">
<!-- <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chimdum Blog | <%= title %></title>
</head> -->

<%- include('./partials/head.ejs') %>

<body>
  <!-- <nav>
    <div class="site-title">
      <a href="">Chimdum Blog</a>
      <p>Chimdum Blogging Zone</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav> -->

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae labore id minus cum nesciunt tempora, voluptatibus sint maxime, soluta natus autem eius nisi corporis quia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis magnam dolore cumque eligendi molestias veniam consectetur dolorem sequi culpa!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, architecto?</p>
  </div>

  <%- include('./partials/footer.ejs') %>

</body>
</html>